<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--fontawersome cnd-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--bootstrap css-->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.0.2-dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
</head>

<body>
    <section class="intro">
        <div class="bg-image h-100"
            style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg');">
            <div class="mask d-flex align-items-center h-100" style="background-color: rgba(255,255,255,.6);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card gradient-custom" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-white">

                                    <div class="my-md-5">

                                        <div class="text-center pt-1">
                                            <i class="fas fa-user fa-3x"></i>
                                            <h1 class="fw-bold my-5 text-uppercase">log in</h1>
                                        </div>

                                        <div class="form-outline form-white mb-4">
                                            <input type="email" id="typeEmail" class="form-control form-control-lg" />
                                            <label class="form-label" for="typeEmail">Email</label>
                                        </div>

                                        <div class="form-outline form-white mb-4">
                                            <input type="password" id="typePassword"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="typePassword">Password</label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault" />
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Remember me
                                            </label>
                                        </div>

                                        <div class="text-center py-5">
                                            <button class="btn btn-light btn-lg btn-rounded px-5"
                                                type="submit" style="background:rgb(95, 201, 219) ; color: white; border: none;"><a href="/infoPage/infoPage/" style="text-decoration:none;color: white; ">Login</a></button>
                                            <button class="btn btn-light btn-lg btn-rounded px-5"
                                                type="submit" style="background: rgb(35, 239, 35); border: none; margin-left: 5px;"><a href="/registerPage/" style="text-decoration:none;color: white; ">Sign up</a></button>
                                        </div>

                                    </div>

                                    <div class="text-center">
                                        <p class="mb-0"><a href="#!" class="text-white fw-bold">Forgot password?</a></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!--JQuery-->
    <script src="{%static 'js/jquery-3.6.1.js'%}"></script>
    <!--Bootstrap JS-->
    <script src="{%static 'plugins/bootstrap-5.0.2-dist/js/bootstrap.min.js'%}"></script>
    <!--Isotopes js-->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

    <script src="{%static 'js/script.js'%}"></script>
</body>

</html>